{% extends "base.html" %}
{% block content %}
<p id="firmaKodu" style="display: none;">{{ firma.firma_kod }}</p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Bekleyen Siparişler</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        {% for siparis_urun in bekleyen_siparisler %}
                            <div class="p-2 bd-highlight wait">{{ siparis_urun.siparis_fis_num }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3">
                <div class="card-header bg-success text-white">
                    <h3 class="card-title">Hazır Siparişler</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-wrap">
                        {% for siparis_urun in hazir_siparisler %}
                            <div class="p-2 bd-highlight ready">{{ siparis_urun.siparis_fis_num }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">İptal Siparişler</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        {% for siparis_urun in iptal_siparisler %}
                            <div class="p-2 bd-highlight cancel">{{  siparis_urun.siparis_fis_num }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body{
        padding :0 !important;
    }
    .wait {
        background-color: #0D6EFD;
        color: white;
        font-weight: bold;
    }

    .approved {
        background-color: #198754;
        color: white;
        font-weight: bold;
    }

    .ready {
        background-color: #4FC0D0;
        color: white;
        font-weight: bold;
    }

    .cancel {
        background-color: red;
        color: white;
        font-weight: bold;
    }

    .bd-highlight {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: 4px;
        width: 128px;
        text-align: center;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/siparis_durumu/`;
    const socket = new WebSocket(url);
    const firmaKodu = document.getElementById('firmaKodu').textContent.trim();  // Firma kodunu al

    socket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        console.log('Data:', data);

        // Firma kodunu kontrol et
        if (data.type === 'siparis_durumu.update' && data.firma_kod === firmaKodu) {
            window.location.reload();
        }
    }
</script>
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          Logo
        </div>
        <div class="footer-links">
          <ul class="footer-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Order Qr. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <style>
    .footer {
        position: fixed;
        bottom: 1px;
        font-size: 18px;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 30px 0;
        border-radius: 10px;
    }
    .footer-content {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
    
      
    .footer-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
      
    .footer-menu li {
        display: inline-block;
        margin-right: 20px;
    }
      
    .footer-menu li:last-child {
        margin-right: 0;
    }
      
    .footer-menu a {
        color: #fff;
        text-decoration: none;
    }
      
    .social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
    }
      
    .social-icons li {
        display: inline-block;
        margin-right: 10px;
    }
      
    .social-icons li:last-child {
        margin-right: 0;
    }
      
    .social-icons a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
      
    .footer-bottom {
        margin-top: 20px;
        text-align: center;
    }
      
    .footer-bottom p {
        margin: 0;
    }
      
    @media (max-width: 768px) {
        .footer-content {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
        .footer-menu{
            text-align: left;
        }
        .footer-menu li {
          display: block;
          margin-bottom: 10px;
        }
    }
      
    .attribute{
        position: absolute;
        bottom: 10px;
    }
  </style>
{% endblock content %}
